  /*COLORS-DEFINITON*/
  $primary: #3A93A7;
  $primary-pressedB: #6DC6DA;
  $primary-hover: #F3F8F9;
  $primary-pressed: #E8F1F3;
  $main-shadow: #2c3e50;
  $highlightA: #BA2660;
  $highlightB: #FD9D9A;
  $backgroundA: #FFFFFF;
  $backgroundB: #F4F8FA;
  $backgroundC: #EAEEF1;
  $textColor: #3A414C;
  $textColorInactiv: #9CA0A6;
  $border-color: #DEE3EB;
  $errorColor: #DF2D42;
  $successColor: #41BD55;
  $neutralColor: #F0AF31;
