@use 'color' as c;

.popup-enter-active, .popup-leave-activ {
  transition: opacity .9s;
}
.popup-enter, .popup-leave-to  {
  opacity: 0;
}

.shortDescription{
  float: left;
  clear: left;
  color: white;
  font-size: 2em;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-self: end;
  justify-content: start;
}

.detail{
  margin: 10px;
  color: c.$textColor;
  font-family: Jost;
  font-size: 1rem;
}

.detail::selection{
  background-color: c.$highlightB;
  color: white;
}

.details{
  width: inherit;
  text-align: left;
  display: block;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.wrapper{
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;

}




.item {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: clamp(1rem,3vw,2rem);
  display: flex;
  color: #FFFFFF;
  width: 100%;
  height: 10vh;
  background-color: c.$primary;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
  align-content: center;
}

.item:focus-visible {
  outline: c.$primary 3px solid;
  outline-offset: 4px;
}

.item {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: c.$primary-pressedB;
  cursor: pointer;
}

.buttons{
  justify-content: center;
  display: flex;
}