@use 'color' as c;

.textarea{
  border-radius: 10px;
  width: 100%;
  padding: 5px;
  height: 20vh;
  resize: vertical;
  font-size: 1.25rem;
  border: none;
  outline: c.$primary 2px solid;
}

.textarea::placeholder{
  font-size: 1rem;
}

input[type="file"] {
  display: none;

}

.custom-file-upload{
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: clamp(0.5rem,3vw,1.5rem);
  text-align: center;
  background-color: c.$primary;
  color: white;
  padding: 25px;
}
